@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@700&family=Kanit:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background: #150026;
  /* background-color: #500075; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.nav {
  margin-top: 12px;
  width: 100%;
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.nav.fade-out {
  opacity: 0;
}

.logo {
  display: flex;
  align-items: flex-start;
}

.logo img {
  width: 81px;
  height: 84px;
  margin-left: -55px;
  position: absolute;
}

.logo p {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-top: 22px;
}

.bar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-top: 15px;
}

.bar input {
  background-image: linear-gradient(315deg, #31037ce9 0%, #51047a 100%);
  backdrop-filter: blur(1);
  border-radius: 10px;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  width: 400px;
}

.bar a {
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 89px;
}

.bar .profile {
  width: 45px;
  height: fit-content;
  position: absolute;
  margin-left: -51px;
  margin-top: -6px;
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); */
  transition: box-shadow 0.3s ease-in-out;
}

.bar .profile:hover {
  -webkit-box-reflect: below 1px
    linear-gradient(to bottom, #00000000, #00000037);
}

.bar p {
  margin-left: -7px;
  font-size: 130%;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.bar p:hover {
  cursor: pointer;
}

input::placeholder {
  color: #bbb;
}

input:focus {
  outline: none;
}

/********  Main Card *********/

#main {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#main.fade-out {
  opacity: 0;
}

#main .error {
  color: red;
  margin-top: 168px;
  font-size: 3rem;
  font-family: "Handjet", cursive;
  font-variant: all-small-caps;
}

.card {
  background-color: #00000bb3;
  background-image: linear-gradient(315deg, #32004de9 0%, #160039e9 100%);
  border-radius: 20px;
  display: flex;
  padding: 3rem;
  max-width: 800px;
  backdrop-filter: blur(1);
  border: none;
  box-shadow: #02002498 0 0 15px;
  margin-top: 150px;
}

.avatar {
  border: 10px solid #2a2a72;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
  margin-top: 10px;
}

.user-info p {
  margin: 2px;
  color: #e3e3e3bb;
}

.user-info h2 {
  margin-top: 0;
  font-family: "Kanit", sans-serif;
}

.user-info .location {
  margin-top: 8px;
  color: #ffffff;
  margin-bottom: 8px;
}

.user-info ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  max-width: 400px;
  margin-left: 3px;
}

.user-info ul li {
  display: flex;
  margin-right: 10px;
  align-items: center;
  width: fit-content;
}

.user-info .location .icon {
  color: #0000ff;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

#repos {
  margin-top: 20px;
}

#repos a {
  box-shadow: 2px 2px 2px 0.2px #0000003c;
}

.repo {
  background-color: #3c1276c9;
  border-radius: 5px;
  display: inline-block;
  color: white;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

/******* Footer Section *******/

/* Responsive Adjustments */

@media screen and (max-width: 830px) {
  .nav {
    max-width: 100%;
  }

  .logo {
    padding-right: 10px;
  }

  .logo img {
    width: 70px;
    height: 74px;
    position: absolute;
    margin-left: -45px;
  }

  .logo p {
    margin-top: 17px;
  }

  .bar input {
    width: 303px;
    padding: 11px;
    box-shadow: #0000165b 3.5px 3.5px 9px;
  }

  .bar p {
    margin-left: -4.5px;
    font-size: 121%;
  }

  .bar p:hover {
    cursor: pointer;
  }

  #main {
    max-width: fit-content;
  }

  #main .error {
    color: red;
    margin-top: 120px;
    font-size: 2.2rem;
    font-family: "Handjet", cursive;
    font-variant: all-small-caps;
  }

  .card {
    margin-top: 98px;
    padding: 1.5rem;
    /* max-width: 706px; */
  }

  .user-info .location {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .user-info ul {
    margin-left: 3px;
  }
}

/* Mobile devices */
@media screen and (max-width: 630px) {
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .logo {
    margin-top: 5px;
  }

  .logo img {
    width: 60px;
    height: 62px;
    margin-left: -39;
    margin-bottom: 10px;
  }

  .logo p {
    font-size: 1.4rem;
  }

  .bar {
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    margin-top: 35px;
  }

  .bar p {
    margin-top: 10px;
  }

  .bar input {
    max-width: none;
  }

  .bar .profile {
    margin-top: 3px;
  }

  #main {
    margin-top: 45px;
    width: fit-content;
  }

  #main .error {
    color: red;
    margin-top: 90px;
    font-size: 2.2rem;
    font-family: "Handjet", cursive;
    font-variant: all-small-caps;
    margin-left: 39%;
  }

  .card {
    padding: 1.5rem;
    margin: 10px;
  }

  .card .avatar {
    width: 120px;
    height: 120px;
    border: 8px solid #482a72;
  }

  .user-info .location {
    margin-top: 10px;
  }

  .user-info ul {
    margin-top: 20px;
  }

  .user-info p {
    width: 87%;
  }
}

@media screen and (max-width: 400px) {
  /* #main {
    margin-top: 40px;
    width: 100%;
  } */

  .logo p {
    margin-left: 25px;
  }

  .logo img {
    margin-left: -13px;
    margin-top: 4px;
  }

  .bar input {
    max-width: 75%;
  }

  .bar a {
    margin-left: 2px;
  }

  .bar p {
    display: none;
  }

  #main {
    margin-top: 7px;
    width: 99%;
  }

  #main .error {
    margin-left: 35%;
    font-size: 55px;
  }

  .card {
    margin-top: 35px;
    max-width: 400px;
    box-shadow: none;
  }

  .card .img {
    height: fit-content;
  }

  .user-info {
    max-width: 59%;
    margin-left: 20px;
  }

  .user-info h2 {
    font-size: 1.7rem;
  }

  .user-info p {
    font-size: 1rem;
    margin-top: 74px;
    display: flex;
    margin-left: -129px;
    width: 161%;
  }

  .location .icon {
    margin-right: 6px;
    margin-top: 3px
  }

  .user-info .location {
    margin-top: 12px;
    color: #ffffff;
    font-size: 16px;
  }

  .user-info .info{
    overflow-wrap: break-word;
    margin-left: -128px;
  }

  .user-info .info li{
    font-size: 12px;
  }

  .user-info .info li strong{
    font-size: 12px;
  }

  .repos {
    margin-left: -129px;
  }
}
